<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>MK1 Engine</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <!-- PANEL IZQUIERDO -->
  <div id="files"></div>

  <!-- EDITOR -->
  <div id="editor">
    <textarea id="code"></textarea>
    <div id="controls">
      <button onclick="run()">▶ RUN</button>
      <button onclick="stop()">■ STOP</button>
    </div>
  </div>

  <!-- CANVAS -->
  <div id="screen">
    <canvas id="canvas" width="600" height="240"></canvas>
  </div>

  <script src="./script.js"></script>
</body>
</html>
