body {
  margin: 0;
  height: 100vh;
  display: flex;
  background: #111;
  color: #0f0;
  font-family: monospace;
}

#files {
  width: 220px;
  background: #0b0b0b;
  padding: 6px;
  box-sizing: border-box;
}

#files button,
.upload {
  width: 100%;
  margin-bottom: 5px;
  padding: 8px;
  background: #27ae60;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.upload {
  text-align: center;
}

#filesTree div {
  padding: 4px;
  cursor: pointer;
}

#editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#code {
  flex: 1;
  background: black;
  color: #00ff00;
  border: none;
  padding: 10px;
  resize: none;
}

#controls {
  background: #27ae60;
  padding: 6px;
  text-align: center;
}

#screen {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}
