* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background: #0e0e0e;
  color: white;
  font-family: Arial;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr 260px;
}

/* PANEL IZQUIERDO */
#files {
  grid-row: 1 / 3;
  background: #151515;
  padding: 10px;
  overflow-y: auto;
}

#files button {
  width: 100%;
  margin-bottom: 10px;
  background: #1faa59;
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
}

.folder {
  margin-top: 8px;
}

.file {
  margin-left: 16px;
  cursor: pointer;
  padding: 2px;
}

.file:hover {
  background: #333;
}

/* EDITOR */
#editor {
  background: #111;
  display: flex;
  flex-direction: column;
}

textarea {
  flex: 1;
  background: #111;
  color: #0f0;
  border: none;
  padding: 10px;
  font-family: monospace;
  resize: none;
}

/* CONTROLES */
#controls {
  display: flex;
}

#controls button {
  flex: 1;
  background: #1faa59;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

/* CANVAS */
#screen {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 2px solid #333;
}
