body {
  margin: 0;
  height: 100vh;
  background: #0e0e0e;
  color: white;
  font-family: Arial;
  display: grid;
  grid-template-columns: 220px 1fr;
 grid-template-rows: 1fr 1fr;

}

/* FILES */
#files {
  grid-row: 1 / 3;
  background: #151515;
  display: flex;
  flex-direction: column;
}

#files-header {
  padding: 8px;
  background: #1e1e1e;
}

#files-header button {
  width: 100%;
  margin-bottom: 6px;
  background: #22aa55;
  border: none;
  color: white;
  padding: 6px;
  cursor: pointer;
}

#files-tree {
  flex: 1;
  overflow-y: auto;
  padding: 8px;
}

.folder {
  color: #aaa;
  margin-top: 6px;
}

.file {
  padding-left: 12px;
  cursor: pointer;
}

.file:hover {
  background: #333;
}

/* EDITOR */
#editor {
  background: #111;
  display: flex;
  flex-direction: column;
}

textarea {
  flex: 1;
  background: #111;
  color: #0f0;
  border: none;
  font-family: monospace;
  padding: 10px;
}

#controls {
  display: flex;
}

#controls button {
  flex: 1;
  background: #22aa55;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}

/* SCREEN */
#screen {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 2px solid #333;
}

#screen {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
body {
  margin: 0;
  display: flex;
  height: 100vh;
  background: #111;
  color: #0f0;
  font-family: monospace;
}

#files {
  width: 220px;
  background: #0b0b0b;
  border-right: 1px solid #333;
}

#files-header button,
.upload-btn {
  display: block;
  width: 100%;
  padding: 8px;
  background: #27ae60;
  border: none;
  color: black;
  cursor: pointer;
  margin-bottom: 4px;
}

#editor {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#code {
  flex: 1;
  background: black;
  color: #00ff00;
  border: none;
  padding: 10px;
}

#controls {
  background: #27ae60;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 6px;
}

#screen {
  width: 640px;
  display: flex;
  align-items: center;
  justify-content: center;
}


